<div class="content">
    <h2 class="pop-text">Add Two Numbers Using C++!</h2>
    <p class="pop-text">Below is an example of calling a custom Node Addon written in C++ and passed to Angular via ElectronJS' IPC system.</p>
    <div class="card">
        <div class="text-field">
            <label class="pop-text">First Number</label>
            <input [(ngModel)]="firstNumParam" type="text" placeholder="0">
        </div>
        <div class="text-field">
            <label class="pop-text">Second Number</label>
            <input [(ngModel)]="secondNumParam" type="text" placeholder="0">
        </div>
        <button (click)="solve()">Calculate!</button>
        <h1>{{ getSolution() }}</h1>
    </div>
</div>
