:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    max-width: 960px;
    margin: 82px auto 32px;
    padding: 0 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.pop-text {
    color: #fafafa;
    text-shadow: 2px 2px 5px #0c0c0c;

}

.card {
    margin: 30px;
    padding: 50px;
    background-color: #1976d2;
    color: white;
    border-radius: 20px;
}

.text-field label {
    margin-right: 20px;
}

