---

---

<div class="toolbar" role="banner">
	<img
		width="165"

		alt="Delver Logo"
		src="Logo.png"
	/>

	<div class="spacer"></div>
	<div id="buttons">
		<a class="option" href="/encounter">Encounter</a>
		<a class="option" href="/currency">Currency</a>
		<a class="option" href="/character">Character</a>
	</div>
	<div class="spacer"></div>
	
</div>
<style>
	:host {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: 14px;
		color: rgb(232, 177, 135);
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.spacer {
		flex: 1;
	}

	.toolbar {
		height: 80px;
		display: flex;
		align-items: center;
		background-color: rgb(137, 77, 77);
		font-weight: 600;
		z-index: 1;
		
	}

	.toolbar img {
		margin: 0 16px;

	}

	a {
		font-size: 1.2rem;
		text-decoration: none;
		margin: 16px;
		padding: 10px;
		color: rgb(232, 177, 135);
		background-color: #00336200;
		border: none;
		border-radius: 10px 1px;
		text-shadow: 10px;

	}
	a:hover {
		cursor: pointer;
		background-color: rgb(106, 60, 60);

	}

	a.option {
		margin: 3px;
	}

</style>
