<div class="content">

    <h2 class="pop-text">Load Table</h2>
    <div *ngIf="!this.hasData()" id="load-header">
        <p class="pop-text">
            Click to load a table from the backend using SQLite3!
        </p>
    </div>

    <div *ngIf="this.hasData()" id="load-header-s">
        <p class="pop-text">
            Click to reload the table! (Table load succeded in {{ getTimeToFetch() }}ms.)
            <button class="option" (click)="loadTable()">
                Reload Table
            </button>
        </p>
    </div>
    

    <div *ngIf="!this.hasData() && !this.hasError()">
        <!-- Display Nothing if Table is Empty -->
        <div class="card highlight-card card-small">
            <p class="pop-text">
                Table empty!
            </p>
            <button class="option" (click)="loadTable()">Load Table</button>
        </div>        
    </div>

    <div *ngIf="this.hasError()">
        <!-- Display Table Read Error -->
        <div class="card highlight-card card-small">
            <p class="pop-text">
                {{ this.getCurrentError() }}
            </p>
            <button class="option" (click)="loadTable()">Attempt Reload</button>
        </div>        
    </div>

    <div *ngIf="this.hasData()">
        <!-- Display Table -->
        <table>
            <thead>
                <tr>
                    <th *ngFor="let col of columns; index as i; first as isFirst">
                        {{ col }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of fetchedData; index as i; first as isFirstI">
                    <td *ngFor="let col of columns; index as j; first as isFirstJ">
                        {{ row[col] }}
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>


    <h2 class="pop-text">Get File Path</h2>
    <p class="pop-text">Select a file path using your Native File Explorer!</p>
    <div class="card highlight-card card-small">
        <button (click)="openFileDialog()">Check File</button>
        <span>{{ getSelectedFile() }}</span>

    </div>
  
</div>

