<div class="content">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns; index as i; first as isFirst">
                    {{ column }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data; index as i; first as isFirst">
                <td>{{ row["temple"] }}</td>
                <td>{{ row["boss"] }}</td>
                <td>{{ row["item"] }}</td>
                <td>{{ row["great_fairy"] }}</td>
            </tr>
        </tbody>
        
    </table>
    <button (click)="onClick()">Reload Table</button>

    <button (click)="openFileDialog()">Check File</button>
    <div>{{ getSelectedFile() }}</div>

    <p>backend-conn-test works!</p>
</div>

